@import url(https://fonts.google.com/specimen/Gloria+Hallelujah);


.custom-navbar {
    background-color: lightpink;
  }

  .img {
    position: relative; 
    width: 100%;
    padding-top: 3%;
    justify-self: center;
    background-size:5%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .img img {
    width: 100%;
    height: -20


  
   
   
   
  }

  .h1 {
    justify-content: center;
    font-size:xxx-large;
    text-align: center;
    text-decoration: underline hotpink;
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
  }


  /* .container {
    background-color: hotpink;
    color: hotpink;
  } */
  
  .featured-item .card {
    border: none;
    box-shadow: 10% hotpink;
  }
  
  .featured-item .card-link {
    background-color: hotpink;
  }
  
  .image-size {
    width: 100%;
    height: 100px; 
  }

  .card {
   
    text-shadow: 3px 6px 12px hotpink (0, 0, 0, 0.5);
   
  }
  #feature{
    text-align: center;
    justify-content: center;
    font-size:xxx-large;
    text-align: center;
    text-decoration: underline hotpink;
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
  }

  #feature1{
    text-align: center;
  }


  
  a.nav-item{
    color: hotpink;
    text-decoration: none;
  }
  #feature1 span{
    font:bold hotpink ;
    background-color: hotpink;
  }


  a{
    background-color: hotpink;
    color: hotpink
  }

  h2{
   font-style: italic;
   font-weight: 8000;
   font-weight:lighter;
   font-display: 100%;
   text-shadow: 10px 2px 10px hotpink;
   text-align: center;
   padding-bottom: 80px;
  }

  .strong{
    text-decoration: hotpink;
  }

  

  .img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .img img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  .img h1 {
    position: absolute;
    top: 90px;
    right: 18px;
    font-family:Gloria Hallelujah;

   
  }


    
    .img .jacket {
      position: absolute;
      top: 190px;
      right: 180px;
      color: hotpink;
      font-size: 18px;
      font-size: larger;
      font: italic;
      font-display: 100%;
      text-shadow: 12px 1px 12px whitesmoke;
      text-shadow: 0cqi;
      text-decoration: underline white;
      text-align: center;
      padding-bottom: 80px;
      font-weight: bolder;

    }

   
  
      
  
    
    .front,
    .text-overlay {
      position: absolute;
      top: 55%;
      left: 35%;
      color: rgb(42, 41, 41);
      font-size: 100px;
      font-weight: bold;
      text-shadow: 16px 2px 6px hotpink;
      font-family:Gloria Hallelujah;
    }
    
   
   
